src/main/resources/user1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="User" type="user"/>

  <xs:complexType name="user">
    <xs:sequence>
      <xs:element name="Id" type="xs:long" minOccurs="0"/>
      <xs:element name="Title" type="xs:string" minOccurs="0"/>
      <xs:element name="Body" type="xs:string" minOccurs="0"/>
      <xs:element name="UserId" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

